<div  id="scream" >

<div class="container">
  <h1>Capture screen</h1>
<div class="card w-75 pb-5 mt-5"   >
  <div  id="scream" >
  <h5 class="card-title ml-2 mt-3">OnePlus 6 (Mirror Black, 6GB RAM, 64GB Storage)</h5>
  <div class="w-25 h-25">
    <img src="../assets/oneplus6.jpg" height="350rem" class="card-img-top ml-5" alt="..."> 
  </div>
  
  <div class="card-body">
    <h5 class="card-title ml-2 mt-3">Description</h5>
    <p class="card-text">Camera: 20+16 MP Dual rear camera with Optical image stabilization, Super slow motion, Portrait mode | 16 MP front camera. Display: 15.95 centimeters (6.28-inch) Full HD+ Optic AMOLED display with 2280x1080 pixels and 19:9 aspect ratio | 2.5D Corning Gorilla Glass 5
      Memory, Storage & SIM: 6GB RAM | 64GB storage | Dual nano SIM with dual standby (4G+4G)
      Operating System and Processor: Android Oreo 8.1 Oxygen operating system based on with Qualcomm Snapdragon 845 octa core processor
      Battery: 3300 mAH lithium Polymer battery with Dash Charge technology
      Warranty: 1 year manufacturer warranty for device and in-box accessories including batteries from the date of purchase
      Included in box: Screen protector (pre-applied), Translucent case, Dash Type-C cable, Dash power adaptor
      Other features: Face Unlock, Fingerprint scanner, Water Resistant, Glass back and NFC enabled </p>
    
    <button (click)="capture()" class="btn btn-primary ml-5">Capture</button>
  </div>

</div>
</div>
</div>